mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin linkButton(link, txt, isModif=false)
  if isModif
    - var modif = 'link-button--light'
  else
    - var modif = null

  a.link-button(href= link class= modif)= txt

mixin sectionContacts
  section#contacts.contacts
    .container
      h2.contacts__title Наши контакты
      ul.contacts__list
        li.contacts__item
          a.contacts__item-link(href="mailto:ptseraev@gmail.com") ptseraev@gmail.com
        li.contacts__item
          a.contacts__item-link(href="tel:+375296816200") +375 29 681 62 00
        li.contacts__item
          a.contacts__item-link(href="tel:+375447224231") +375 44 722 42 31
        li.contacts__item
          a.contacts__item-link(href="https://yandex.ru/maps/?um=constructor%3A5f20e6203c6128edc99146fcd6dec8429ec326c3a57851abc291a83163331df5&source=constructorLink" rel="noopener" target="_blank") Беларусь, Минская область, Жодино, Советская улица, 22А

mixin filters(filterArr)
  ul#filter.filters.container
    li.filters__item: button.filters__button(data-filter-target="all") Все
    for button in filterArr
      li.filters__item: button.filters__button(data-filter-target=button.dataAttr)= button.label

mixin accordion(faqArr)
  #accordion.accordion
    for item in faqArr
      details.accordion__details(data-filter= item.dataAttr)
        summary.accordion__summary
          span= item.question
          +icon('accordion__summary-icon', 'plus')
          +icon('accordion__summary-icon accordion__summary-icon--active', 'minus')
        .accordion__txt
          for txt in item.answer
            p= txt

mixin productCounter(idPlus=null, idMinus=null, idCount=null)
  .product-counter
    .product-counter__group
      button.product-counter__control(id= idPlus aria-label="Отнять") -
      p.product-counter__count(id= idCount) 1
      button.product-counter__control(id= idMinus aria-label="Прибавить") +
    p.product-counter__price 53.55 BYN

mixin crumbs(arrLinks)
  .crumbs
    .container
      nav.crumbs__inner
        ul
          for link in arrLinks
            li: a(href= link.href)= link.name

mixin faqDescrip
  .faq__descrip
    h2.faq__descrip-title Не нашли ответ?
    p
      |Проверьте раздел
      a.faq__descrip-link(href="#") FAQ
      |или напишите нам на почту. Мы обязательно вам поможем.

mixin productCard(link, img, price, title, modif=null)
  article.product-card(class= modif)
    a.product-card__link(href= link)
    img.product-card__img(src=`images/products/${img}`, width="200", height="200", alt="")
    p.product-card__price= price
    h3.product-card__title= title

mixin cart
  #cart.cart.modal
    .cart__order
      button.cart__button-close(aria-label="Закрыть" data-modal-close)
        +icon('cart__button-close-icon', 'close')
      h3.cart__title Состав заказа
      ul.cart__order-list
        li.cart__order-item
          .cart__order-item-info
            a.cart__order-item-link(href="product.html" aria-label="Страница товара")
            img.cart__order-item-img(src="images/products/kaspersky/kaspersky-1.png", width="80", height="80" alt="")
            h4.cart__order-item-title Kaspersky Total Security (1 год)
          +productCounter
        li.cart__order-item
          .cart__order-item-info
            a.cart__order-item-link(href="product.html" aria-label="Страница товара")
            img.cart__order-item-img(src="images/products/windows/windows7.png", width="80", height="80" alt="")
            h4.cart__order-item-title Лицензионный ключ активации для Windows 10 Home (Домашняя)
          +productCounter
    .cart__total
      h3.cart__title.cart__title--marginless Итого
      p.cart__total-sum 50 BYN
    p.cart__descrip Вы получите ключи активации СРАЗУ после оплаты в виде сообщения на телефон и электронную почту!
    h3.cart__title Контактные данные
    form#form-cart.cart__form(name="Оплата" action="#" method="POST")
      .cart__form-control
        span.cart__form-error
        input.cart__form-input(name="order-phone" type="tel" placeholder="Номер телефона" data-form-phone)
      .cart__form-control
        span.cart__form-error
        input.cart__form-input(name="order-email" type="text" placeholder="e-mail" data-form-email)
      button.cart__form-submit Оплатить

mixin categories(classItem=null, classLink=null)
  li(class= classItem): a.category-link(class= classLink href="/catalog.html") Антивирусы
  li(class= classItem): a.category-link(class= classLink href="#") Офисные программы
  li(class= classItem): a.category-link(class= classLink href="#") ОС
  li(class= classItem): a.category-link(class= classLink href="#") Работа с текстом
  li(class= classItem): a.category-link(class= classLink href="#") Работа с файлами
  li(class= classItem): a.category-link(class= classLink href="#") Графика и дизайн
  li(class= classItem): a.category-link(class= classLink href="#") Образование и наука
