mixin productItem(link, img, title, priceSale, priceUsual, dataAttr, isNew=false)
  - var modif
  - var markTitle

  if priceSale
    - modif = 'products__item--sale'
    - markTitle = 'Sale'
  else if isNew
    - modif = 'products__item--new'
    - markTitle = 'New'
  else
    - modif = null

  article.products__item(class= modif data-filter= dataAttr)
    a.products__item-link(href= link aria-label= title)
    p.products__item-mark= markTitle
    img.products__item-img(src=`images/products/${img}`, width="400", height="400", alt="")
    .products__item-info
      h3.products__item-title= title
      .products__item-price
        p.products__item-price-sale= priceSale
        p.products__item-price-usual= priceUsual

mixin reviewsItem(txt, author, program)
  .reviews__item.swiper-slide
    p.reviews__item-txt= txt
    .reviews__item-author
      p= author
      p= program

mixin processItem(number, title, txt)
  li.process__item
    p.process__item-number= number
    .process__item-info
      h3.process__item-title= title
      p.process__item-txt= txt
